{#
/**
 * @file
 * Default theme implementation for a Bazaarvoice review.
 *
 * Available variables:
 * - $review: An array of review fields from Bazaarvoice. Will vary depending
 *   on Bazaarvoice account setup.  Will contain at a minimum the following
 *   items:
 *    - $review.Id: The unique id for this review.
 *    - $review.Title: The title of the review.
 *    - $review.UserNickname: The name of the user who submitted the review.
 *    - $review.SubmissionTime: The data the review was submitted.
 *    - $review.ReviewText: The content of the review.
 *    - $review.Rating: The rating value given for the review.
 *    - $review.RatingRange: The max value that can be given for a review.
 */
#}
<div class="bazaarvoice-review" id="bazaarvoice-review-{{ review.Id }}">
    <div class="bazaarvoice-head">
        <h2 class="bazaarvoice-review-title">{{ review.Title }}</h2>
        {% trans %}
        By
        {% endtrans %}
        <span class="bazaarvoice-review-author">{{ review.UserNickname }}</span>
        -
        <span class="bazaarvoice-review-date">{{ review.SubmissionTime }}</span>
        <br />
        <span class="bazaarvoice-review-rating">
      {% trans %}
            Rating: {{ review.Rating }}/{{ review.RatingRange }}
            {% endtrans %}
    </span>
    </div>
    {% if review.ReviewText %}
        <div class="bazaarvoice-review-body">
            <p class="bazaarvoice-review-text">
                {{ review.ReviewText }}
            </p>
        </div>
    {% endif %}
</div>