{#
/**
 * @file
 * Default theme implementation for a Bazaarvoice reviews.
 *
 * Available variables:
 * - $review_link: Link to the write a review page.
 * - $reviews: An array of rendered Bazaarvoice reviews.
 * - $pager: A pager object for paging reviews.
 */
#}
<div id="bazaarvoice-reviews">
    <div id="bazaarvoice-reviews-link">
        {{ review_link }}
    </div>
    <div id="bazaarvoice-reviews-list">
        {% if reviews %}
            {% for review in reviews %}
                {{ review }}
            {% endfor %}
            {% if pager %}
                {{ pager }}
            {% endif %}
        {% else %}
            {{ 'There are no reviews for this product.'|t }}
        {% endif %}
    </div>
</div>