<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="canonical" href="{{ canonical }}"/>
</head>
<body>
<script type="text/javascript" src="{{ js_path }}"></script>
<script>
    $BV.container('global', {} );
</script>
</body>
</html>