{#
/**
 * @file
 * Default theme implementation for Bazaarvoice reviews using the Hosted UI.
 *
 * Available variables:
 * - review_link: Link to the write a review page.
 * - summmary: Empty div wrapper for Bazaarvoice to populate with summary information.
 * - reviews: empty div wrapper for Bazaarvoice to populate with reviews.
 * - apiVersion: You have the option of using bvapi.js or bv.js (newer).
 *     The template implementation of each api is different. Also, bv.js does not use $BV.ui
 */
#}
<div id="bazaarvoice-reviews">
    {% if apiVersion == 'bv' %}
        <div data-bv-show="reviews" data-bv-product-id="{{ productId }}"></div>
    {% else %}
        {{ reviews }}
        <script type="text/javascript">
            $BV.ui( 'rr', 'show_reviews', {
                productId : '{{ productId }}',
                doShowContent : function () {
                    // If the container is hidden (such as behind a tab), put code here to make it visible
                    //(open the tab).
                }
            });
        </script>
    {% endif %}
</div>