{#
/**
 * @file
 * Default theme implementation for a Bazaarvoice product statistics.
 *
 * Available variables:
 * - review_count: Total number of reviews.
 * - rating: Rating.
 * - average_rating: Avg rating.
 * - rating_range: Rating range.
 * - statistics: Statistics.
 * - product_info: Product Info.
 *
 * @ingroup themeable
 */
#}
<div class="bazaarvoice-statistics">
    {% if review_count %}
        <span class="bazaarvoice-statistics review-statistics">
      {% trans %}
            <strong>Reviews:</strong> {{ review_count }}
            {% endtrans %}
        </span>
    {% endif %}
    {% if rating %}
        <span class="bazaarvoice-statistics rating-statistics">
      {% trans %}
            <strong>Rating:</strong> {{ rating }}
            {% endtrans %}
        </span>
    {% endif %}
</div>